@font-face {
  font-family: "NeoDunggeunmoPro-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("NeoDunggeunmoPro-Regular"), url("font/NeoDunggeunmoPro-Regular.woff") format("woff");
}
@font-face {
  font-family: "PricedownBl-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("PricedownBl-Regular"), url("font/pricedown bl.woff") format("woff");
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: NeoDunggeunmoPro-Regular;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.yellow {
  background-color: #F0C737;
}

.left {
  float: left;
}

.right {
  float: right;
}

nav {
  transition-duration: 0.4s;
}
.after-main nav {
  transform: translateY(60px);
}

nav#main-nav {
  position: fixed;
  bottom: 100vh;
  z-index: 10;
  width: 100%;
  height: 60px;
  padding: 0 75px;
  background-color: #111111;
  font-size: 15px;
  font-weight: 700;
}
nav#main-nav #nav-left {
  height: 100%;
  display: flex;
  align-items: center;
}
nav#main-nav #nav-left #logo {
  height: 36px;
}
nav#main-nav #nav-right {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
nav#main-nav #nav-right #navigation {
  color: #FFFFFF;
}
nav#main-nav #nav-right #navigation ul {
  display: flex;
}
nav#main-nav #nav-right #navigation li {
  margin-right: 37.5px;
}
@media (max-width: 960px) {
  nav#main-nav #nav-right #navigation {
    display: none;
  }
}
nav#main-nav #nav-right #hamburger {
  width: 30px;
  height: 30px;
  margin-left: 30px;
  display: none;
  transition-duration: 0.4s;
}
nav#main-nav #nav-right #hamburger img {
  width: 100%;
}
@media (max-width: 960px) {
  nav#main-nav #nav-right #hamburger {
    display: block;
  }
}
nav#main-nav #nav-right #hamburger:hover {
  transform: scale(1.1, 1.1);
}
nav#main-nav #nav-right #button-container {
  display: flex;
}
nav#main-nav #nav-right #button-container .mini-square {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  margin-right: 11px;
  display: flex;
}
nav#main-nav #nav-right #button-container .mini-square img {
  display: block;
  margin: auto;
  width: 21px;
}
nav#main-nav #nav-right #lang ul {
  display: flex;
}
nav#main-nav #nav-right #lang li {
  margin-left: 20px;
}
nav#main-nav #nav-right #lang li a {
  color: #555555;
  transition-duration: 0.2s;
}
nav#main-nav #nav-right #lang li a.activate {
  color: #FFFFFF;
}
@media (max-width: 960px) {
  nav#main-nav #nav-right #lang {
    display: none;
  }
}

nav#hamburger-nav {
  position: fixed;
  z-index: 9;
  width: 100%;
  padding: 22.5px 75px 0;
  text-align: right;
  background-color: #111111;
  bottom: 100vh;
  transition-duration: 0.4s;
}
@media (max-width: 960px) {
  nav#hamburger-nav.open {
    transform: translateY(100%);
  }
}
nav#hamburger-nav #navigation2 li {
  margin-bottom: 15px;
}
nav#hamburger-nav #lang ul {
  display: flex;
  justify-content: right;
  margin-bottom: 20px;
}
nav#hamburger-nav #lang li {
  margin-left: 20px;
}
nav#hamburger-nav #lang li a {
  color: #555555;
  transition-duration: 0.2s;
}
nav#hamburger-nav #lang li a.activate {
  color: #FFFFFF;
}

.clockwise {
  transform: rotate(90deg);
}

.counterclockwise {
  transform: rotate(-90deg);
}

.no-display {
  display: none;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("img/main-min.jpg");
  background-size: cover;
  background-position: center;
}
#background #background-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  transition: 0.8s;
}
.after-main #background-cover {
  opacity: 0.8 !important;
}

main {
  position: absolute;
  z-index: 0;
  padding-top: 60px;
  width: 100vw;
  height: 100vh;
  color: #FFFFFF;
}
main section {
  position: relative;
  height: 100%;
  width: 100%;
}
main section .align-center {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
main section .align-center .align-center-inner {
  width: 100%;
}
main section .long-button {
  width: 280px;
  height: 60px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}
main section#main-section {
  padding-bottom: 38px;
}
main section#main-section .align-center {
  position: absolute;
  height: calc(100% - 38px);
}
main section#main-section #poster-back {
  position: relative;
  width: 80vmin;
  height: 80vmin;
  background-color: #ecddca;
  margin: auto;
  display: flex;
  align-items: center;
}
main section#main-section #poster-back #i-want-you-box-1 {
  position: relative;
  width: 70vmin;
  height: 70vmin;
  margin: auto;
  padding: 0.5vmin;
  border: 0.6vmin solid #c64353;
}
main section#main-section #poster-back #i-want-you-box-1 #i-want-you-box-2 {
  position: relative;
  width: 100%;
  height: 100%;
  border: 0.7vmin solid #282828;
}
main section#main-section #poster-back #i-want-you-box-1 #i-want-you-box-2 #yellow-man-pixel-cover {
  position: absolute;
  top: -5%;
  left: 15%;
  width: 70%;
}
main section#main-section #poster-back #i-want-you-box-1 #i-want-you-box-2 #yellow-man-pixel-cover.fade {
  opacity: 0;
  transition: 2s;
}
main section#main-section #poster-back #i-want-you-box-1 #i-want-you-box-2 #yellow-man-pixel {
  position: absolute;
  top: -5%;
  left: 15%;
  width: 70%;
  opacity: 0;
}
main section#main-section #poster-back #i-want-you-box-1 #i-want-you-box-2 #yellow-man-pixel.fade {
  opacity: 1;
  transition: 2s;
}
main section#main-section #poster-back #i-want-you-box-1 #i-want-you-box-2 #i-want-you {
  position: absolute;
  bottom: 5%;
  left: 10%;
  width: 80%;
}
main section#main-section #poster-back #i-want-you-box-1 #speech-bubble-wrapper {
  position: absolute;
  top: 10%;
  left: 75%;
}
main section#main-section #poster-back #i-want-you-box-1 #speech-bubble-wrapper #speech-bubble {
  width: 100%;
  table-layout: fixed;
}
main section#main-section #poster-back #i-want-you-box-1 #speech-bubble-wrapper #speech-bubble tr.long > td {
  height: 70px;
}
main section#main-section #poster-back #i-want-you-box-1 #speech-bubble-wrapper #speech-bubble td {
  width: 5px;
  height: 5px;
}
main section#main-section #poster-back #i-want-you-box-1 #speech-bubble-wrapper #speech-bubble td.long {
  width: 250px;
}
main section#main-section #poster-back #i-want-you-box-1 #speech-bubble-wrapper #speech-bubble td.shadow {
  box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
}
main section#main-section #poster-back #i-want-you-box-1 #speech-bubble-wrapper #speech-bubble #bubble-content {
  color: #111111;
  text-align: center;
  font-size: 16px;
  display: flex;
  align-items: center;
  line-height: 20px;
}
main section#main-section #poster-back #i-want-you-box-1 #speech-bubble-wrapper #speech-bubble .black {
  background-color: #111111;
}
main section#main-section #poster-back #i-want-you-box-1 #speech-bubble-wrapper #speech-bubble .white {
  background-color: #FFFFFF;
}
main section#main-section #main-scroll-button {
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 38px;
  background-color: #111111;
  bottom: 0;
}
main section#main-section #main-scroll-button img {
  height: 37.5px;
  display: block;
  margin: auto;
}
main section h1 {
  font-size: 48px;
  font-weight: 700;
}
main section p {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}
main section h2 {
  color: #F0C737;
  font-size: 30px;
  font-weight: 700;
}
main section#next-yellow-man {
  text-align: center;
}
main section#next-yellow-man #random-pfps {
  width: 87vmin;
  height: 51vmin;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin-bottom: 4vmin;
}
main section#next-yellow-man #random-pfps .pfp {
  height: 15vmin;
  width: 15vmin;
  border-radius: 1vmin;
  background-color: #808080;
  transition-duration: 0.4s;
}
main section#next-yellow-man #random-pfps .pfp:hover {
  transform: scale(1.1, 1.1);
}
main section#next-yellow-man #random-pfps .pfp.clicked {
  transform: rotateY(180deg);
  opacity: 0;
}
main section#next-yellow-man h1 {
  text-align: center;
  margin-bottom: 2vmin;
}
main section#next-yellow-man p {
  text-align: center;
  margin-bottom: 2.5vmin;
}
main section#next-yellow-man .text-button {
  font-size: 20px;
  text-decoration: underline !important;
}
main section#next-yellow-man .text-button:hover {
  color: #F0C737;
  transition: 0.5s;
}
main section#about-section {
  padding: 50px 0;
  height: 100%;
}
main section#about-section #yellow-man-img {
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
  width: 280px;
  height: 280px;
  border-radius: 10px;
  margin: 0 auto 40px;
  background-image: url("img/yellowman.png");
  background-size: cover;
}
main section#about-section #yellow-man-img:hover {
  background-image: url("img/yellowman-hover.png");
}
main section#about-section h1 {
  margin-bottom: 22.5px;
  text-align: center;
}
main section#about-section p {
  text-align: center;
  margin-bottom: 37.5px;
}
main section#about-section #whitepaper-button {
  display: block;
  margin: auto;
}
main section#process-section h1 {
  text-align: center;
  padding-bottom: 40px;
}
main section#process-section #process-wrapper {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90vmin;
  margin-bottom: 7vmin;
}
main section#process-section #process-wrapper .process-set {
  width: 27vmin;
  font-size: 18px;
  text-align: center;
}
main section#process-section #process-wrapper .process-set .process-box {
  width: 27vmin;
  height: 18vmin;
  border: 5px solid #F0C737;
  margin-bottom: 2vmin;
}
main section#process-section h2 {
  text-align: center;
}
main section#collections-section {
  display: flex;
  justify-content: center;
}
main section#collections-section #section-left {
  height: 100%;
  width: 584px;
  display: flex;
  overflow: hidden;
}
main section#collections-section #section-left .passport-side-button {
  margin-top: 465px;
  height: 37.5px;
  width: 37.5px;
}
main section#collections-section #section-left #passport {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
  position: relative;
  top: -30px;
  width: 500px;
  height: 675px;
  background-color: #FFFFFF;
  border-radius: 20px;
  overflow: hidden;
}
main section#collections-section #section-left #passport #passport-border {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 10px solid #F0C737;
}
main section#collections-section #section-left #passport #passport-top {
  position: absolute;
  top: 0;
  width: 500px;
  height: 337.5px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 31.26%, rgba(255, 255, 255, 0.1) 67.83%, rgba(255, 255, 255, 0) 100%), rgba(240, 199, 55, 0.3);
}
main section#collections-section #section-left #passport #passport-top #passport-mark {
  position: absolute;
  left: 37.5px;
  top: 302px;
  font-weight: 600;
  font-size: 30px;
  line-height: 37.5px;
  color: #808080;
  transform-origin: top left;
  transform: rotate(-90deg);
}
main section#collections-section #section-left #passport #passport-bottom {
  position: absolute;
  top: 337.5px;
  width: 500px;
  height: 337.5px;
  background: rgba(240, 199, 55, 0.3);
}
main section#collections-section #section-left #passport #passport-bottom #passport-title {
  margin: 11px 0;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #808080;
  opacity: 0.5;
}
main section#collections-section #section-left #passport #passport-bottom #passport-main {
  display: flex;
}
main section#collections-section #section-left #passport #passport-bottom #passport-main .passport-property {
  width: 140px;
  height: 52px;
  padding: 10px 0;
}
main section#collections-section #section-left #passport #passport-bottom #passport-main .passport-property .property-title {
  display: block;
  font-weight: 600;
  font-size: 11px;
  color: #808080;
  margin-bottom: 5px;
}
main section#collections-section #section-left #passport #passport-bottom #passport-main .passport-property .property-text {
  display: block;
  font-weight: 600;
  font-size: 15px;
  color: #111111;
}
main section#collections-section #section-left #passport #passport-bottom #passport-main #passport-main-left {
  width: 200px;
  padding-left: 37.5px;
}
main section#collections-section #section-left #passport #passport-bottom #passport-main #passport-main-left img {
  display: block;
  object-fit: cover;
  height: 150px;
  width: 120px;
}
main section#collections-section #section-left #passport #passport-bottom #passport-main #passport-main-right {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
}
main section#collections-section #section-left #passport #passport-bottom #passport-footer {
  position: absolute;
  bottom: 0;
  background-color: #FFFFFF;
  width: 100%;
  height: 67.5px;
  padding-top: 5px;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  color: #111111;
  text-align: center;
}
main section#collections-section #section-right {
  margin-left: 22.5px;
  height: 100%;
  width: 280px;
  text-align: justify;
  padding-top: 160px;
}
main section#collections-section #section-right h1 {
  margin-bottom: 50px;
}
main section#collections-section #section-right h1 .bigger {
  font-size: 72px;
}
main section#team-section {
  padding-top: 60px;
  height: 100%;
}
main section#team-section h2 {
  text-align: center;
  margin-bottom: 37.5px;
}
main section#team-section #collections {
  padding-bottom: 46px;
  margin: auto;
  width: 888px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main section#team-section #collections img {
  width: 128px;
  height: 128px;
  background-color: #552222;
  margin-bottom: 24px;
}
main section#team-section #partners {
  margin: auto;
  width: 888px;
  display: flex;
  justify-content: space-between;
}
main section#team-section #partners img {
  width: 280px;
  height: 120px;
}
main section#join-us-section {
  position: relative;
}
main section#join-us-section #join-us-background {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url("img/join-us.png");
  background-size: cover;
  background-position: center;
}
main section#join-us-section #join-us-background-cover {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
main section#join-us-section #join-us-background-on {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-image: url("img/join-us-on.png");
  background-size: cover;
  background-position: center;
}
main section#join-us-section #join-us-wrapper {
  position: relative;
  z-index: 3;
  width: 888px;
  margin: auto;
  padding-top: 187.5px;
  font-weight: 900;
}
main section#join-us-section #join-us-wrapper h2 {
  font-size: 48px;
}
main section#join-us-section #join-us-wrapper h1 {
  line-height: 86px;
  font-size: 72px;
}
main section#join-us-section #join-us-wrapper #join-us-button-container {
  margin-top: 80px;
  display: flex;
}
main section#join-us-section #join-us-wrapper #join-us-button-container .big-square {
  position: relative;
  display: block;
  width: 128px;
  height: 128px;
  padding-top: 16px;
  padding-bottom: 11px;
  background-color: #F0C737;
  border-radius: 25px;
  margin-right: 22.5px;
  color: #111111;
}
main section#join-us-section #join-us-wrapper #join-us-button-container .big-square img {
  display: block;
  margin: auto;
  width: 86px;
}
main section#join-us-section #join-us-wrapper #join-us-button-container .big-square .button-text {
  position: absolute;
  width: 100%;
  bottom: 11px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}

/*# sourceMappingURL=style.css.map */
